.clearfix::before,
.clearfix::after {
	display: block;
	content: '';
	clear: both;
}

.wrapper {
	min-width: 1100px;
}

.header {
	position: fixed;
	box-sizing: border-box;
	padding: 15px;
	width: 100%;
	background-color: #fff;
}

.box {
	width: 1100px;
	margin: 0 auto;
}

.fa-bolt {
	color: #4e4e4e;
	float: left;
}

.contact-btn {
	font-size: 12px;
	float: right;
	padding: 14px 12px;
	background-color: #74cfae;
	color: #fff;
	border: 0;
	transition: 0.3s;
}

.contact-btn:hover {
	color: #333;
}

.bolt {
	padding: 250px 0;
	text-align: center;
	background-color: #f2f2f2;
}

.bolt-title {
	font-size: 90px;
	font-weight: 700;
	color: #74cfae;
	margin-bottom: 20px;
	font-family: Raleway;
}

.bolt-sabtitle {
	font-size: 30px;
	color: #c0c0c0;
	font-family: Raleway;
}

.about {
	background-color: #74cfae;
	padding-top: 50px;
	text-align: center;
}

.about-title {
	font-size: 24px;
	text-align: center;
	color: #fff;
	font-family: Raleway;
}

.about-img {
	display: inline-block;
}

.about-text-box {
	display: inline-block;
	float: right;
	width: 70%;
}

.about-text {
	font-size: 20px;
	margin-top: 35px;
	color: #fff;
}

.text {
	display: inline-block;
	word-wrap: break-word;
}

.work {
	background-color: #f2f2f2;
	padding-top: 60px;
	text-align: center;
}

.work-title {
	font-size: 24px;
	text-align: center;
	color: #333;
	font-family: Raleway;
}

.work-img-box {
	margin-top: 40px;
	margin-bottom: 90px;
	font-size: 0;
}

.img-box {
	display: inline-block;
	margin-right: 100px;
	margin-bottom: 80px;
}

.work-img-box > .img-box:nth-child(3n) {
	margin-right: 0;
}

.work-img {
	opacity: 0.7;
	transition: 0.3s;
}

.work-img:hover {
	opacity: 1;
}

.work-text {
	margin-bottom: 70px;
	margin-right: 90px;
	width: 48%;
}

.work-btn {
	font-size: 12px;
	padding: 14px 20px;
	background-color: #74cfae;
	color: #fff;
	border: 0;
	transition: 0.3s;
}

.work-btn:hover {
	color: #333;
}

.skills {
	background: #4e4e4e;
	padding-bottom: 100px;
	padding-top: 70px;
}

.skils-title {
	font-size: 24px;
	text-align: center;
	color: #fff;
	font-family: Raleway;
}

.skills-circle-box {
	text-align: center;
}

.skills-circle {
	display: inline-block;
	margin-right: 180px;
	text-align: center;
}

.skills-circle:last-child {
	margin-right: 0;
}

.skills-circle > p {
	font-size: 16px;
	color: #fff;
	padding: 10px;
}

.nav {
	background-color: #f2f2f2;
}

.ul {
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}

.li {
	box-sizing: border-box;
	padding: 15px;
	width: 185px;
	color: #74cfae;
	cursor: pointer;
	transition: 0.3s;
}

.li:hover {
	background: #fff;
}

.footer {
	box-sizing: border-box;
	background-color: #74cfae;
	padding: 20px;
}

.footer-text {
	float: right;
	color: #fff;
}

